<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 class="title">{{character.name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Gender: </strong> {{character.gender}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Hair color: </strong>{{character.hair_color}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Eye color: </strong>{{character.eye_color}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Height: </strong>{{character.height}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Mass: </strong>{{character.mass}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Skin color: </strong>{{character.skin_color}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Birth: </strong>{{character.birth_year}}</ion-label>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
</ion-content>
