<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Ep: {{film.episode_id}} {{film.title}}</h2>
      <p class="center">{{film.producer}}</p>
      <p  class="center">{{film.release_date}}</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        {{film.opening_crawl}}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Characters</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let character of characters" (click)="getUrlCharacter(character.url)">
          <ion-label>{{character.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Planets</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let planet of planets" (click)="getUrlPlanet(planet.url)">
          <ion-label>{{planet.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Species</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let specie of species" (click)="getUrlSpecie(specie.url)">
          <ion-label>{{specie.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Starships</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let starship of starships" (click)="getUrlStarship(starship.url)">
          <ion-label>{{starship.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2 class="title">Vehicles</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let vehicle of vehicles" (click)="getUrlVehicle(vehicle.url)">
          <ion-label>{{vehicle.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>