<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 class="title">{{vehicle.name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <strong>Cargo Capacity: </strong>
          {{vehicle.cargo_capacity}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Consumables: </strong>
          {{vehicle.consumables}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Crew: </strong>
          {{vehicle.crew}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Length: </strong>
          {{vehicle.length}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Manufacturer: </strong>
          {{vehicle.manufacturer}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Model: </strong>
          {{vehicle.model}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Passengers: </strong>
          {{vehicle.passengers}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>