<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 class="title">{{specie.name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <strong>Classification: </strong>
          {{specie.classification}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Average Lifespan: </strong>
          {{specie.average_lifespan}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Average Height: </strong>
          {{specie.average_height}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Designation: </strong>
          {{specie.designation}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Eye Colors: </strong>
          {{specie.eye_colors}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Hair Colors: </strong>
          {{specie.hair_colors}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Language: </strong>
          {{specie.language}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
