<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 class="title">{{planet.name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <strong>Climate:</strong>
          {{planet.climate}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Diameter:</strong>
          {{planet.diameter}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Gravity:</strong>
          {{planet.gravity}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Orbital Period:</strong>
          {{planet.orbital_period}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Population:</strong>
          {{planet.population}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Rotation Period:</strong>
          {{planet.rotation_period}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Terrain:</strong>
          {{planet.terrain}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
